
body {
    color:#777777;
    background-image: url('../images/concrete-texture.png');
}

nav {
    position: relative;
    background-color: #ffffff;
    top: -8px;
    left: -5px;
    border: #ffffff;
    height: 80px;
    width: 101%;

}

.boxname {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    top: -15px;
    left: 360px;
    height: 50px;
    width: 180px;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    
}

span  {
   
    color: #777777;
    position: absolute; 
    top: 30px;
    right: 350px;

}

a {
    color: #777777;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    font-size: 12px;
}
section {
    margin: auto;
    width: 900px;
    height: 70%;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 25px;
    margin-bottom: 80px;
    position: relative;
}

header {
    color: #4aaaa5;
    border-style: none none solid none;
    border-color: #777777;
    border-width: 1px;
    clear: both;
    overflow: auto;
    padding-bottom: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bolder;
}

div {
    position: relative;
}


form, input, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 2.0rem;
    color: #777777;
    width: 100%;

}

.submit {
    background-color: #4aaaa5;
    color:#ffffff;
    text-align: center;
    margin-top: 5px;
    width: auto;
}

footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    width: 101%;
    position: relative;
    left: -8px;
    height: 25px;
    border-top: #4aaaa5 solid;
    border-width: 3px;
    padding-top: 30px;
    padding-bottom: 0px;

}
